.conte {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 80px;
  margin-left: 80px;
  margin: 0 auto;
  margin-bottom: 80px;

  &__main {

  }

  &__avabox {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    overflow: hidden;
  }

  &__ava {
    width: 100%;
    object-fit: cover;
  }

  &__name {
    font-size: 16px;
    color: rgba(41, 41, 41, 1);
    margin-bottom: 4px;
  }

  &__info {
    font-size: 14px;
    color: rgba(117, 117, 117, 1);

  }

  &__listen {
    color: rgba(26, 137, 23, 1);
  }

  &__box {

  }

  &__title {
    font-size: 2rem;
    color: #000;
    margin-bottom: 10px;
  }

  &__imgbox {
    margin-bottom: 20px;
  }

  &__img {
    width: 100%;
  }

  &__cmbox {
    position: fixed;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgba(255, 255, 255, 1);
    border-radius: 20px;
    box-shadow: rgb(0 0 0 / 10%) 0px 2px 10px 0px;
    padding: 9px 14px 9px 16px;
  }

  &__cmbtn {
    display: flex;
    align-items: center;
    background: none;
    border: none;
    border-right: 1px solid rgb(230, 230, 230);
    font-size: 14px;
    color: rgba(117, 117, 117, 1);
    padding-right: 10px;
    margin-right: 10px;

    &:nth-child(3) {
      border-right: none;
      padding-right: 0;
    }

    svg:hover {
      color: green;
    }


  }

  &__dicon {
    font-size: 24px;
  }

  &__ {

  }
}