@import url('https://fonts.googleapis.com/css2?family=Tiro+Devanagari+Hindi&display=swap');
.publish {
  width: 1072px;
  margin: 0 auto;
  padding-top: 20px;

  &__main {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__header {
    display: flex;
    align-items: center;
  }

  &__info {
    display: flex;
    align-items: center;
  }
  &__logo {
    width: 50px;
    height: 50px;
    object-fit: cover;
    margin-right: 15px;
  }

  &__link {
    border: none;
    width: 70px;
    height: 30px;
    font-size: 15px;
    border-radius: 50px;
    color: #fff;
    margin-right: 25px;
    background-color: #1a8917;
  }

  &__dots {
    border: none;
    background-color: transparent;
    font-size: 30px;
    margin-right: 25px;
  }
  &__bell {
    border: none;
    background-color: transparent;
    font-size: 25px;
    color: #757575;
    margin-right: 25px;
  }
  &__user {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    overflow: hidden;
  }

  &__inputbox {
    width: 100%;
    padding: 60px 120px;
    display: flex;
    flex-direction: column;
    border: 1px solid #1a8917;
  }

  &__input {
    border: none;
    font-family: 'Tiro Devanagari Hindi', serif;
    margin-bottom: 25px;
    font-size: 40px;

    &::placeholder {
      color: #c4c4c4;
    }
  }

  &__input:focus {
    outline: none;
  }
  &__inputtext:focus {
    outline: none;
  }
  &__inputtext {
    width: 100%;
    height: 100%;
    border: none;
    font-family: 'Tiro Devanagari Hindi', serif;
    font-size: 30px;
    color: #757575;
    resize: none;
    overflow: hidden;

    &::placeholder {
      color: #c4c4c4;
    }
  }

  &__plus {
    position: absolute;
    left: 0;
    bottom: 0px;
    background: none;
    border: none;
    font-size: 32px;
    color: #757575;
  }

  &__boxs {
    position: relative;
    padding-left: 50px;
  }
}